{{!--
  This template renders a blob shape at the top.
--}}

<div
  class="f-blob-shape {{#if alt_version}}alt-version{{/if}}"
  aria-hidden="true"
>
  {{#if alt_version}}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="285"
      height="296"
      viewBox="0 0 285 296"
    >
      <defs>
        <filter id="wave-a">
          <feColorMatrix
            in="SourceGraphic"
            values="0 0 0 0 0.258824 0 0 0 0 0.329412 0 0 0 0 0.400000 0 0 0 1.000000 0"
          />
        </filter>
      </defs>
      <g
        fill="none"
        fill-rule="evenodd"
        filter="url(#wave-a)"
        transform="translate(42 -55)"
      >
        <path
          fill-rule="nonzero"
          class="shape-fill"
          d="M277.671549,198.170416 C273.032267,226.970459 255.818092,243.44506 226.029022,247.594219 C196.239953,251.743377 170.113474,262.482376 147.649585,279.811216 C125.185696,297.140055 100.402167,300.557009 73.2989973,290.062079 C46.1958274,279.567148 24.830716,261.750172 9.20366307,236.611151 C-6.42338985,211.472131 -2.15036757,187.797519 22.0227299,165.587316 C46.1958274,143.377114 62.6774848,126.170308 71.467702,113.9669 C80.2579193,101.763492 89.4143956,78.9431193 98.937131,45.5057813 C108.459866,12.0684432 128.359942,-2.9417487 158.637357,0.475205558 C188.914772,3.89215981 217.605064,14.5091248 244.708234,32.3261006 C271.811404,50.1430763 285.240903,75.0380287 284.99673,107.010958 C284.752557,138.983887 282.31083,169.370373 277.671549,198.170416 Z"
          transform="translate(-42 55)"
        />
      </g>
    </svg>
  {{else}}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="273"
      height="296"
      viewBox="0 0 273 296"
      aria-hidden="true"
    >
      <defs>
        <filter id="wave-a">
          <feColorMatrix
            in="SourceGraphic"
            values="0 0 0 0 0.258824 0 0 0 0 0.329412 0 0 0 0 0.400000 0 0 0 1.000000 0"
          />
        </filter>
      </defs>
      <g
        fill="none"
        fill-rule="evenodd"
        filter="url(#wave-a)"
        transform="translate(-127 -52)"
      >
        <path
          fill-rule="nonzero"
          class="shape-fill"
          d="M272.994862,184.279347 C273.248337,203.758301 264.123248,217.165892 245.619596,224.502122 C227.115943,231.838351 211.273775,244.739995 198.093091,263.207055 C184.912408,281.674115 166.408755,292.298999 142.582135,295.081706 C118.755514,297.864414 94.2952064,294.322786 69.2012122,284.456823 C44.107218,274.590859 24.0827176,257.768127 9.12771095,233.988625 C-5.82729569,210.209123 -2.40538739,186.682595 19.3934358,163.40904 C41.1922591,140.135485 48.0360757,113.193816 39.9248856,82.5840314 C31.8136956,51.9742472 39.5446736,28.7006923 63.1178197,12.7633667 C86.6909657,-3.17395892 111.531485,-4.18585261 137.639378,9.72768564 C163.747271,23.6412239 186.68673,33.3807007 206.457756,38.946116 C226.228782,44.5115313 240.550102,56.4012821 249.421716,74.6153686 C258.29333,92.829455 264.376723,110.790568 267.671894,128.498708 C270.967064,146.206847 272.741387,164.800394 272.994862,184.279347 Z"
          transform="translate(127 52)"
        />
      </g>
    </svg>
  {{/if}}
</div>
