.f-account-empty {
  padding: 2.5rem 0;

  @include respond-to('medium') {
    padding: 3.75rem 5rem;
  }
}

.f-account-empty__title {
  color: var(--alt-text-color);
  line-height: 1.3;
  font-size: 1.3125rem;
  font-weight: 600;
  margin: 0 0 1.25rem;
}

.f-account-empty__description {
  color: var(--text-color);
  line-height: 1.7;
  font-size: 0.9375rem;
  margin-bottom: 1.875rem;
}
