:root {
  --font-family: 'Poppins', Helvetica, Arial, sans-serif;
  --font-base: 1rem;
  --mobile-space: 1.25rem;
  --top-bar-height: 4.375rem;
  --standard-wrapper-max-width: 75rem;
  --medium-wrapper-max-width: 60rem;
  --small-wrapper-max-width: 45rem;
  --featured-main-color: #ffffff;
  --background-text-color: #aebecf;
  --focus-color: #90cdf4;
  --loading-color: #ffffff;
  --highlighting-color: #ffff00;
}
